/* ********************
    Footer Styles
******************** */

.footer{
    background-color: var(--color-darkGray);
    color: var(--color-dimGray);
    
    @include breakpoint-down(small){
        @include flex(c, c, column);
        text-align: center;
    }

    @include flex(sb, c, row);

    .wrapper{
        padding: 4rem 0 5.5rem;

        @include breakpoint-up(medium){
            padding: 2rem 2.4375rem;
        }

        @include breakpoint-up(large){
            padding: 2rem 10.5625rem;
        }
    }
    
    .nav{
        @include breakpoint-up(medium){
            @include flex(sb, c, row);
        }

        &__logo{
            display: block;
            max-width: 4.71875rem;
            @include breakpoint-up(medium){
                max-width: 6.75rem;
            }

            @include breakpoint-down(small){
                margin-bottom: 2.5rem;
            }

            @include breakpoint-up(medium){
                margin-right: 3.625rem;
            }
        }

        &__list{
            @include breakpoint-down(small){
                margin-bottom: 5.3125rem;
            }

            @include flex(fs, c, row);
        }

        &__item{
            @include breakpoint-down(small){
                margin-bottom: 1rem;
            }

            @include breakpoint-up(medium){
                margin-right: 2rem;
            }
        }

    }
    .social{
        @include flex(sb, c, row);
        &__item{
            :hover{
                svg{
                    path{
                        fill: #fff;
                    }
                }
            }

            @include breakpoint-up(medium){
                margin-right: 1.5rem;
            }
        }
    }
}