/* ********************
    Header Styles
******************** */

.header{
    background-color: var(--color-white);
    box-shadow: var(--bxs-header);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    width: 100%;
    height: var(--header-height);

    @include breakpoint-up(medium){
        @include flex(sb, c, row);
    }

    .wrapper{
        padding: 1.5rem 2rem;

        @include breakpoint-up(medium){
            padding: 2.125rem 2.4375rem;
        }

        @include breakpoint-up(large){
            padding: 1.375rem 2rem;
        }
    }

    .nav{
        position: relative;

        @include breakpoint-down(small){
            @include flex(sb, c, row);
        }

        @include flex(fs, c, row);

        &__toggle{
            width: 1.25rem;
            height: 1rem;
            background-image: url(../../assets/icons/hamburger.svg);
        }

        &__logo{
            max-width: 4.71875rem;
            @include breakpoint-up(medium){
                max-width: 6.75rem;
            }

            flex-grow: 1;
            flex-shrink: 0;

            @include breakpoint-up(medium){
                margin-right: 3.625rem;
            }
        }

        &__list{
            @include breakpoint-down(small){
                background-color: var(--color-darkGray);
                color: var(--color-lightGray);
                position: fixed;
                top: var(--header-height);
                left: -80%;
                width: 80%;
                transition: all .25s ease-out;
                height: calc(100% - var(--header-height));
                z-index: var(--z-fixed);
                padding: 4rem 2rem 1.5rem;
                font-size: 18px;
                @include flex(fs, fs, column);

                .btn{
                    position: absolute;
                    bottom: 1.5rem;
                    left: 2rem;
                    right: 2rem;
                }

                > *:not(:last-child){
                    margin-bottom: 1.5rem;
                }

            }

            @include flex(fs, c, row);
        }

        &__item{
            @include breakpoint-up(medium){
                margin-right: 2rem;
            }

            &:hover{
                color: var(--color-yellow);
            }
        }
    }
}