/* ********************
    Section Styles
******************** */

.section{
    position: relative;
    overflow: hidden;
    @include flex(c, c, column);

    &:not(:last-of-type){
        margin-bottom: 7.5rem;
    }

    @include breakpoint-up(large){
        @include flex(sb, c, row);
    }

    .wrapper{
        padding: 0 2rem;
    }

    &__text-container{
        order: 2;
        text-align: center;
        max-width: 35.8125rem;
        
        > *:not(:last-child){
            margin-bottom: 2rem;
        }
        
        @include breakpoint-up(medium){
            
            > *:not(:last-child){
                margin-bottom: 2.5rem;
            }
        }
        
        @include breakpoint-up(large){
            order: initial;
            text-align: initial;
            max-width: 27.8125rem;

            > *:not(:last-child){
                margin-bottom: initial;
            }
        }

        .heading{
            color: var(--color-darkNavy);

            @include breakpoint-up(large){
                margin-bottom: 1.5rem;
            }
        }
        
        .paragraph{
            color: var(--color-dimGray);

            @include breakpoint-up(large){
                margin-bottom: 2.5rem;
            }
        }
    }

    &__image-container{
        position: relative;
        order: 1;
        margin-bottom: 3.5rem;
        max-width: 27.8125rem;

        @include breakpoint-up(large){
            order: initial;
            margin-bottom: initial;
        }
        
        img{
            border-radius: 50%;
        }
    }
}