/* ********************
    Section Styles
******************** */

.signup{
    position: relative;
    overflow: hidden;
    background-color: var(--color-darkNavy);
    color: var(--color-white);
    text-align: center;

    .wrapper{
        padding: 5.5rem 2rem;
    }

    &__text-container{
        margin-bottom: 2.5rem;
    }

    .shape{
        position: absolute;

        &--circles{
            opacity: ;
            width: 1153px;
            height: 347px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 10% center;
            background-image: url(../../../assets/patterns/white-circles.svg);
            bottom: -50%;
            right: -20%;
        }
    }
}