/* ********************
    Section Styles
******************** */

.signup{
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: var(--color-darkNavy);
    color: var(--color-white);

    @include breakpoint-up(large){
        text-align: initial;
        @include flex(sb, c, row);
    }

    .wrapper{
        padding: 5.5rem 2rem;
        
        @include breakpoint-up(medium){
            padding: 3.875rem 2rem;
        }

        @include breakpoint-up(large){
            padding: 6.375rem 2rem;
        }
    }
    
    &__text-container{
        max-width: 28.5625rem;
        margin: 0 auto;
        margin-bottom: 2.5rem;

        @include breakpoint-up(large){
            margin: initial;
        }
    }

    .shape{
        position: absolute;

        &--circles{
            opacity: .1;
            width: 1153px;
            height: 347px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../../assets/patterns/white-circles.svg);
            bottom: -50%;
            right: -40%;

            @include breakpoint-up(medium){
                right: -25%;
                bottom: -55%;
            }

            @include breakpoint-up(large){
                right: -10%;
                bottom: -55%;
            }
        }
    }
}