.wrapper{
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-direction: inherit;
    grid-template-columns: inherit;
    grid-template-rows: inherit;
    grid-template-areas: inherit;
    column-gap: inherit;
    row-gap: inherit;
}