/* ********************
    Typography
******************** */

// Typography - Body

body{
    font-family: var(--ff-secondary);
    font-size: var(--fs-normal);
    font-weight: var(--fw-reg);
    line-height: var(--lh-body);
}

// Typography - Headings

.heading{
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);

    &--1{
        font-size: var(--fs-h1);
        line-height: var(--lh-h1);
        letter-spacing: var(--ls-h1);
    }
    &--2{
        font-size: var(--fs-h2);
        line-height: var(--lh-h2);
        letter-spacing: var(--ls-h2);
    }
    &--3{
        font-size: var(--fs-h3);
        line-height: var(--lh-h3);
        letter-spacing: var(--ls-h3);
    }
    &--4{
        font-size: var(--fs-h4);
        line-height: var(--lh-h4);
        letter-spacing: var(--ls-h4);
    }
}
// Typography - Buttons

.btn{
    font-family: var(--ff-primary);
}

// Typography - Home
// Typography - About

.faq{
    &__question{
        font-size: var(--fs-medium);
        font-weight: var(--fw-bold);
        font-family: var(--ff-primary);
    }
}
// Typography - Careers

.jobs{
    &__title{
        font-size: var(--fs-medium);
    }
}
// Typography - Locations

.locations{
    &__city{
        font-size: var(--fs-large);
        font-family: var(--ff-primary);

        @include breakpoint-up(medium){
            font-size: 13px;
        }

        @include breakpoint-up(large){
            font-size: var(--fs-large);
        }
    }
}