/* ********************
    Buttons
******************** */

.btn{
    display: inline-block;
    padding: .875rem 2.8125rem;
    border: .1875rem solid var(--color-yellow);
    text-align: center;

    &--primary{
        background-color: var(--color-yellow);
        color: var(--color-white);
        
        &:hover{
            background-color: var(--color-white);
            color: var(--color-yellow);
        }
    }
}