.shape{
    position: absolute;

    &--arrow{
        width: 45.9375rem;
        height: 8.625rem;
        left: 0;
        background-size: contain;
        background-image: url(../../../assets/patterns/left-downward-arrow.svg);
    }
}