/* ********************
    Locations Styles
******************** */

.main{
    &--locations{
        .banner{
            background-image: url(../../assets/images/careers-location-hero-mobile.jpg);

            @include breakpoint-up(medium){
                background-image: url(../../assets/images/careers-locations-hero-tablet.jpg);
            }

            @include breakpoint-up(large){
                background-image: url(../../assets/images/careers-locations-hero-desktop.jpg);
            }
        }

        .locations{
            text-align: center;
            margin-bottom: 4.5rem;
            @include flex(c, c, column);

            .wrapper{
                padding: 0 2rem;
            }

            
            &__image-container{
                position: relative;
                margin-bottom: 4.5rem;
            }

            &__img{
                margin: 0 auto;
                margin-bottom: 2.5rem;
            }

            &__city{
                margin-bottom: 1rem;
                background-color: var(--color-dimYellow);
                color: var(--color-darkNavy);
                padding: 1.375rem 6.25rem;
                display: block;

                @include breakpoint-up(medium){
                    background-color: var(--color-yellow);
                    padding: 1.375rem 2rem;
                    position: absolute;
                    top: 0;

                    &::before{
                        content: '';
                        width: 0; 
                        height: 0; 
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                        border-top: 20px solid var(--color-yellow);
                        position: absolute;
                        bottom: -20px;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }

                &--newyork{
                    top: 10%;
                    left: 15%;
                }
                &--london{
                    top: 3%;
                    left: 37%;
                }
                &--yokohama{
                    top: 13%;
                    right: 6%;
                }
                &--jakarta{
                    right: 15%;
                    bottom: 43%;
                    top: initial;
                }
            }

            &__text-container{
                max-width: 35.8215rem;
                width: 100%;

                @include breakpoint-up(large){
                    text-align: initial;
                    max-width: initial;
                    @include flex(sb, c, row);
                }
                
                > *:not(:last-child){
                    margin-bottom: 2rem;
                }

                .heading{
                    color: var(--color-darkNavy);

                    @include breakpoint-up(large){
                        max-width: 21.8125rem;
                    }
                }

                .paragraph{
                    color: var(--color-dimGray);

                    @include breakpoint-up(large){
                        max-width: 27.8215rem;
                    }
                }
            }
        }
    }
}